/* general styling */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    background-color: #f8f8f8;
    font-family: 'Rubik', sans-serif;
    color: #4A4633
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}
h2.section-title {
    font-size: 48px;
    line-height: 57px;
    font-weight: 500;
    max-width: 500px;
}
p {
    font-size: 18px;
    line-height: 30px;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.create-cv-btn {
    color: white;
    background: #0798E4;
    padding: 15px 35px;
    border: none;
    outline: none;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    width: 250px;
    transition: 0.3s linear all;
}
.create-cv-btn:hover {
    transform: scale(1.05);
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
}


header .row {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.logo {
    display: inline-flex;
    align-items: center;
    padding: 0 30px;
}
div.logo span {
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    font-size: 22px;
    color: black;
}


/* nav */
.nav {
    padding: 0 30px;
}
.nav ul li {
    display: inline;
    list-style-type: none;
}

.nav ul li a {
    padding: 22px  60px 22px 0px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    line-height: 21px;
}
.nav ul li a.active {
    color: #0798E4
}
.nav ul li a:hover {
    color: #0798E4;
    transition: 0.3s ease color;
}
.nav ul li .user {
    width: 30px;
    height: 30px;
}


/* nav-toggle */
.nav-toggle {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 30px;
    height: 30px;
    flex-direction: column;
    display: none;
    cursor: pointer;
    padding: 0 30px;
}
.nav-toggle span {
    margin: 2px 0;
    width: 20px;
    height: 2px;
    background-color: black;
    display: block;
    transition: 0.3s ease all;  
}
.nav-toggle span.middle {
    width: 13px;
    transition: 0s ease all;
}
.nav-toggle.open span.first {
    transform: rotate(45deg) translateY(8px)
}
.nav-toggle.open span.last {
    transform: rotate(-45deg) translateY(-7px)  
}
.nav-toggle.open span.middle {
    background-color: transparent;
}

/* hero */
.hero {
    padding: 150px 30px 0px;
    min-height: 200px;
    background: url("../images/Rectangle\ 1862.png") center/cover no-repeat;
    position: relative;
    color: white;
    z-index: -1;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px; 
    margin: auto;
}
.hero-text h1 {
    font-size: 48px;
    margin: 0;
    text-align: center;
}
.hero-text p {
    margin: 36px auto 70px;
    text-align: center;
}

/* template section */
section.template-list {
    padding: 0 30px 0;
}
.template-filter-btn {
    background-color: #eeeeee;
    padding: 10px 28px;
    margin-top: 50px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 70px;
    text-align: center;
}
.template-filter-btn button{
    color: #4A4633;
    font-size: 15px;
    line-height: 20px;
    border: none;
    background-color: transparent;
    margin-right: 60px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 6px;
}
.template-filter-btn button.active {
    background-color: #0798E4;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}
.template-list .row {
    width: 100%;
    margin-bottom: 170px;
    justify-content: space-between;
}
.template-list .row .template-image {
    width: 300px;
    margin-right: 25px;
    margin-bottom: 60px;
    border-radius: 5px;
}
.template-list .default-btn {
    color: white;
    background-color:#0798E4;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 16px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.template-list .discard-btn {
    color: #DB4437;
    background-color:transparent;
    width: 100%;
    padding: 16px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    /* margin-bottom: 96px; */
}
/* media query*/
@media screen and (max-width: 767px) {
    .create-cv-btn {
        width: 200px;
    }
    /* header responsive */
    header {
        padding: 18px 0;
    }
    header .logo, .header .nav-toggle {
        margin-bottom: 15px;
    }
    .nav-toggle {
        display: flex;
    }
    header .nav {
      width: 100%;
      height: 0;
      transition: 0.3s ease all;
      overflow: hidden;
    }
    header .nav.open {
        height: 280px;
    }

    header .nav li {
        display: block;
        padding: 22px 0;
    }
    header .nav li a {
        padding: 0;
        color: black;
    }

    /* hero responsive */
    .hero-text h1 {
        font-size: 42px;
    }
    .hero-text p {
        margin: 30px auto 30px;
        font-size: 15px;
    }

    /* template btn */
    .template-filter-btn {
        margin-left: 0;
    }
    .template-filter-btn button{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    }