<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="row">
            <div class="logo">
                <img src="../images/logo.png" alt="logo"><span>CV Ninja</span>
            </div>

            <!-- nav toggle -->
      <div class="nav-toggle">
        <span class="first"></span>
        <span class="middle"></span>
        <span class="last"></span>
      </div>

            <nav class="nav">
                <ul>
                    <li><a href="../index.html">home</a></li>
                    <li><a href="#">about us</a></li>
                    <li class="active"><a href="template.html">templates</a></li>
                    <li><a href="#"><img src="../images/user-alt.png" alt="user" class="user"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- hero -->
    <section class="hero">
       <div class="container">
        <div class="hero-text">
            <h1>Free resume templates</h1>
            <p>Hit the ground running with one of our pre-defined resume templates ranging from clean & elegant to splashy colourful. Each of the templates has been crafted with care to make designing your resume an absolute breeze for you</p>
        </div>
       </div>
    </section>

    <div class="container">
        <section class="template-list">
            <div class="template-filter-btn">
                <button type="button" class="active">All Templates</button>
                <button type="button">Simple</button>
                <button type="button">Creative</button>
                <button type="button">Personal</button>
                <button type="button">Mordern</button>
            </div>
            <div class="row">
                <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-4.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-8 (1).png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-1.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-6.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-10.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-1.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-5.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-9.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-3.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-7.png" alt="">
                    </div>
                 </div>

                 <div class="template-image">
                    <div class="template-image-inner">
                        <img src="../images/Group 8-11.png" alt="">
                    </div>
                 </div>

            </div>

            <button class="default-btn">
                Make Default
            </button>
            <button class="discard-btn">
                Discard
            </button>
        </section>

    </div>
    <script src="../app.js"></script>
</body>
</html>