/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    background-color: #ecebeb;
    font-family: 'Rubik', sans-serif;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}


/* header */
header {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
header .row {
    max-width: 1170px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.logo {
    padding-right: 25px;
    display: inline-flex;
    align-items: center;
}
div.logo span {
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    font-size: 22px;
}
nav ul {
    display: inline;
}
nav ul li {
    list-style-type: none;
    display: inline;
}
nav ul li a {
    padding: 22px 15px;
    text-decoration: none;
    color: #111;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
}
nav ul li a.active {
    color: #0798E4
}
nav ul li a:hover {
    color: #0798E4;
    transition: 0.3s ease color;
}
nav ul li .user {
    width: 25px;
}

/* hero section */
section.hero-section {
    padding: 60px 30px 30px;
}
section.hero-section .row {
    align-items: center;
    min-height: 100vh;
    
}
.hero-section article {
    width: 50%;
}
.hero-text {
    color: #423f30;
}
.hero-text h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}
.hero-text h3 span {
    width:30px;
    height: 3px;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
    background-color: #423f30;
}
.hero-text h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 500;
}
.hero-text p {
    margin-top: 30px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
}
.hero-text button {
    color: white;
    background: #0798E4;
    font-weight: 400px;
    padding: 10px 35px;
    border: none;
    outline: none;
    margin-top: 30px;
    border-radius: 10px;
    transition: 0.5s ease transform;
    cursor: pointer;
}
.hero-text button:hover {
    transform: scale(1.05);
}
.hero-text button a {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.hero-img {
    height: 100%;
    max-height: 500px;
    padding-left: 30px;
}

/*  template section */ 

section.template-section {
    padding: 30px;
}
section.template-section .row {
    align-items: center;
}
section.template-section article {
    width: 50%;
}
section.template-section article img {
    max-width: 450px;
    padding-right: 15px;
}
.template-text h2 {
    font-size: 60px;
    line-height: 60px;
    color: #423f30;
    font-weight: 500;
}
.template-text h2 span {
    font-size: 55px;
    color: #0798E4;
}
.template-text p {
    margin-top: 30px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
}
.template-text a {
    margin-top: 40px;
    color: #0798E4;
    display: inline-flex;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    align-items: center;
}
.template-text a:hover {
    color: #037fc2;
    transition: 0.3s ease all;
}
