/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    background-color: #E5E5E5;
    font-family: 'Rubik', sans-serif;
    color: #4A4633
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}
h2.section-title {
    font-size: 48px;
    line-height: 57px;
    font-weight: 500;
    max-width: 500px;
}
p {
    font-size: 18px;
    line-height: 30px;
}
/* header */
header {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 80;
}
header .row {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.logo {
    padding-right: 25px;
    display: inline-flex;
    align-items: center;
}
div.logo span {
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    font-size: 22px;
}
nav ul {
    display: inline;
}
nav ul li {
    list-style-type: none;
    display: inline;
}
nav ul li a {
    padding: 22px 25px;
    text-decoration: none;
    color: #4A4633;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    line-height: 21px;
}
nav ul li a.active {
    color: #0798E4
}
nav ul li a:hover {
    color: #0798E4;
    transition: 0.3s ease color;
}
nav ul li .user {
    width: 30px;
    height: 30px
}

/* hero section */
section.hero-section {
    padding: 200px 30px 30px;
}
section.hero-section .row {
    align-items: center;
    min-height: 100vh;
}
.hero-section article {
    width: 50%;
}
.hero-text h3 {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 700;
}
.hero-text h3 span {
    width: 37px;
    height: 5px;
    display: inline-block;
    margin-left: 16px;
    vertical-align: middle;
    background-color: #423f30;
}
.hero-text h1 {
    font-size: 96px;
    line-height: 114px;
    font-weight: 700;
    margin-bottom: 24px;
}
.hero-text p {
    font-weight: 400;
    max-width: 500px;
}
.hero-text button {
    color: white;
    background: #0798E4;
    font-weight: 400px;
    padding: 15px 35px;
    border: none;
    outline: none;
    margin-top: 102px;
    border-radius: 10px;
    transition: 0.5s ease transform;
    cursor: pointer;
    font-weight: 700;
}
.hero-text button:hover {
    transform: scale(1.05);
}
.hero-text button a {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}
.hero-img {
  max-width: 448px;
  width: 100%;
  height: auto;
  padding-left: 30px;
  display: block;
}

/*  template section */ 

section.template-section {
    padding: 200px 30px 30px;
}
section.template-section article {
    width: 50%;
}
section.template-section article > img {
    display: block;
    max-width: 432px;
    width: 100%;
}
.template-text {
    padding-left: 50px;
}
.template-text h2 {
    font-size: 48px;
    line-height: 57px;
    font-weight: 500;
}
.template-text h2 span {
    color: #0798E4;
    font-size: 48px;
    line-height: 57px;
}
.template-text p {
    margin-top: 30px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
}
.template-text a {
    margin-top: 60px;
    color: #0798E4;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    align-items: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.template-text a img{
    width: 40px;
    margin-left: 20px;
}


/* get started section */ 
section.get-started {
    padding: 200px 30px 30px;
    
}
section.get-started .row {
    position: relative;
    justify-content: space-between;
    margin-top:96px;

}
section.get-started .row .circle {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E5E5E5;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vector-img {
    width: 70px;
}
section.get-started .row article:nth-child(odd) {
    width: 50%;
    padding: 15px 0 15px 15px;
}
section.get-started .row article:nth-child(even) {
    width: 50%;
    padding: 15px 15px 15px 0;
}
section.get-started .row article .inner {
    border-radius: 8px;
    background: white;
    padding: 35px 48px;
    position: relative;
    color: #423f30;
}
section.get-started .row article .inner img {
    margin-bottom: 22px;
    width: 40px;
}
section.get-started .row article h3 {
    color: #423f30;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
    font-weight:500;
}
section.get-started .row article .inner p {
    max-width: 400px;
    font-weight: 400;
    color: #4A4633
}

/* testimonial section */
section.testimonial-section {
    padding: 200px 30px 30px;
}

section.testimonial-section h3 + .big-star {
    width: 302px;
    margin-top: 20px;
}
section.testimonial-section .slider {
    margin-top: 94px;
    position: relative;
    min-height: 400px;
    overflow-x: hidden;
}
section.testimonial-section .slider .slide {
    width: 46%;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 20px 30px 30px;
    transition: all 0.25s ease-in-out;
    position: absolute;
}
section.testimonial-section .slider article .row {
    align-items: center;
}
section.testimonial-section .slider article .profile {
    display: inline;
}
section.testimonial-section .slider article .little-star {
    width: 111px;
    display: block;
}
section.testimonial-section .slider article .user {
    width: 115px;
    padding-right: 13px;
}
section.testimonial-section .slider article .name {
    font-size: 22px;
    margin-bottom: 5px;
    display: inline-block;
}
section.testimonial-section .slider article .heading {
    margin: 30px 0 10px;
    font-weight: 700;
    font-size: 20px;
}
section.testimonial-section .slider article .testimonial-text {
    line-height: 24px;
    font-weight: 400;
    color: #4A4633

}
